* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.menu {
  border-bottom: 1px #d8d8d8 solid;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  display: grid;
  width: 100%;
  grid-template-columns: 120px auto 120px;
  grid-template-rows: 70px;
}
.menu .logo-empresa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .opciones {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu .opciones .opciones-modelos, .menu .opciones .opciones-ficha {
  height: 100%;
  padding: 13px 25px;
  display: flex;
  align-items: center;
}
.menu .opciones .opciones-modelos a, .menu .opciones .opciones-ficha a {
  font-size: 20px;
}
.menu .opciones .activo {
  border-bottom: 5px #d0021b solid;
}
.menu .opciones .activo a {
  color: #eb0a1e;
}
.menu .opciones .no-activo a {
  color: #191919;
}
.menu .boton-menu-desplegable {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .boton-menu-desplegable p {
  color: #191919;
  margin-right: 6px;
}
.menu .boton-menu-desplegable .boton-menu {
  border: none;
  background: none;
}
.menu .boton-menu-desplegable img {
  cursor: pointer;
}

.menu-desplegable {
  border-left: 1px #efeeef solid;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0px;
  width: 390px;
  height: 100%;
}
.menu-desplegable .oscuro {
  background-color: #efeeef;
  flex-grow: 1;
}
.menu-desplegable .claro {
  background-color: #fff;
}
.menu-desplegable .claro, .menu-desplegable .oscuro {
  padding: 0 10px;
}
.menu-desplegable .claro .menu-opciones, .menu-desplegable .oscuro .menu-opciones {
  list-style: none;
  border-bottom: 1px #efeeef solid;
  padding: 15px 20px;
}
.menu-desplegable .claro .menu-opciones .opciones, .menu-desplegable .oscuro .menu-opciones .opciones {
  text-align: right;
  padding: 10px;
}
.menu-desplegable .claro .menu-opciones .opciones a, .menu-desplegable .oscuro .menu-opciones .opciones a {
  font-size: 23px;
  color: #000000;
}
.menu-desplegable .claro .menu-opciones:last-child, .menu-desplegable .oscuro .menu-opciones:last-child {
  border: none;
}

.fondo-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 990;
  top: 70px;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  visibility: hidden;
}

.mostrar {
  transition: all 0.5s;
  visibility: visible;
  right: 0;
}

body {
  overflow: hidden scroll;
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 222px auto auto;
  position: relative;
  top: 70px;
  margin: 0 120px;
}
.main .titulo {
  display: flex;
  align-items: center;
}
.main .titulo h1 {
  font-size: 50px;
  color: #373737;
}
.main .catalogo {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .catalogo .filtrar-ordenar {
  border-bottom: 1px #d8d8d8 solid;
  display: grid;
  width: 100%;
  grid-template-columns: 90px auto 125px;
  grid-template-rows: auto;
  padding: 5px;
  margin-bottom: 75px;
}
.main .catalogo .filtrar-ordenar .filtrar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #373737;
  font-weight: bold;
}
.main .catalogo .filtrar-ordenar .filtrar p img {
  display: none;
}
.main .catalogo .filtrar-ordenar .categorias {
  display: flex;
  list-style: none;
}
.main .catalogo .filtrar-ordenar .categorias li {
  transition: all 0.5s;
  padding: 10px 20px;
  margin: 0 5px;
}
.main .catalogo .filtrar-ordenar .categorias li a {
  color: #373737;
  font-size: 16px;
}
.main .catalogo .filtrar-ordenar .categorias .activo {
  background-color: #f7f7f7;
  border-radius: 20px;
  transition: all 0.5s;
}
.main .catalogo .filtrar-ordenar .ordenar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .catalogo .filtrar-ordenar .ordenar button {
  background: none;
  border: none;
  cursor: pointer;
  color: #373737;
  font-size: 17px;
  font-weight: bold;
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar {
  width: 210px;
  background-color: #fff;
  position: absolute;
  z-index: 900;
  top: 36px;
  right: 0;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 6px 6px;
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar .opciones-ordenar {
  list-style: none;
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar .opciones-ordenar .opcion {
  border-bottom: 1px #ccc solid;
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar .opciones-ordenar .opcion a {
  font-size: 17px;
  width: 100%;
  padding: 10px 6px;
  color: #191919;
  display: block;
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar .opciones-ordenar .activo {
  background-color: rgba(209, 214, 214, 0.2);
}
.main .catalogo .filtrar-ordenar .ordenar .menu-ordenar .opciones-ordenar .opcion:last-child {
  border: none;
}
.main .catalogo .autos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  justify-content: space-evenly;
  margin-bottom: 75px;
}
.main .catalogo .autos .auto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .catalogo .autos .auto .imagen {
  width: 268px;
  display: flex;
}
.main .catalogo .autos .auto .link-modelo {
  -webkit-user-select: none;
          user-select: none;
}
.main .catalogo .autos .auto .link-modelo .descripcion h3 {
  text-align: center;
  font-size: 28px;
  color: #000000;
}
.main .catalogo .autos .auto .link-modelo .descripcion p {
  text-align: center;
  color: #191919;
}
.main .catalogo .autos .ver-modelo {
  width: 100%;
  height: 36px;
  position: absolute;
  z-index: 970;
  right: 0;
  visibility: hidden;
}
.main .catalogo .autos .ver-modelo .visible {
  display: flex;
}
.main .catalogo .autos .ver-modelo img {
  position: absolute;
}

footer {
  background-color: #000000;
  margin-top: 60px;
  min-height: 50px;
  width: 100vw;
}

@media screen and (max-width: 1325px) {
  .menu {
    grid-template-columns: 90px auto 90px;
    grid-template-rows: 60px;
  }
  .menu .boton-menu-desplegable p {
    display: none;
  }

  .main .catalogo .filtrar-ordenar {
    grid-template-columns: 100px auto 140px;
  }
  .main .catalogo .filtrar-ordenar .categorias li {
    padding: 5px 10px;
  }
  .fondo-menu {
    top: 0;
    overflow-y: auto;
  }
  .fondo-menu .menu-desplegable {
    margin-top: 60px;
    width: 100%;
  }

  .main {
    grid-template-rows: 200px auto auto;
    top: 60px;
    margin: 0 91px;
  }
  .main .catalogo .autos {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 60px;
  }
}
@media screen and (max-width: 1125px) {
  .main {
    grid-template-rows: 150px auto auto;
  }
  .main .titulo h1 {
    font-size: 40px;
  }
  .main .catalogo .filtrar-ordenar .filtrar {
    cursor: pointer;
  }
}
@media screen and (max-width: 980px) {
  .menu {
    grid-template-columns: 60px 60px;
    justify-content: space-between;
  }
  .menu .opciones {
    display: none;
  }

  .main {
    margin: 0 10px;
  }
  .main .catalogo .filtrar-ordenar {
    padding: 10px;
    position: relative;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  .main .catalogo .filtrar-ordenar .filtrar p {
    display: flex;
  }
  .main .catalogo .filtrar-ordenar .filtrar p img {
    display: block;
    margin-left: 5px;
  }
  .main .catalogo .filtrar-ordenar .ordenar .menu-ordenar {
    top: 26px;
    right: -10px;
  }
  .main .catalogo .filtrar-ordenar .categorias {
    position: absolute;
    background-color: #fff;
    z-index: 970;
    display: flex;
    flex-direction: column;
    top: 36px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.2);
  }
  .main .catalogo .filtrar-ordenar .categorias li {
    border-bottom: 1px #ccc solid;
    margin: 0;
    padding: 0;
  }
  .main .catalogo .filtrar-ordenar .categorias li a {
    width: 100%;
    font-size: 17px;
    padding: 10px 6px;
    display: block;
  }
  .main .catalogo .filtrar-ordenar .categorias li:last-child {
    border: none;
  }
  .main .catalogo .filtrar-ordenar .categorias .activo {
    border-radius: 0;
  }
}
@media (max-width: 580px) {
  .main .catalogo .autos {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}