$color: #373737;

.main{
    display: grid;
    grid-template-columns: auto;
    position: relative;
    top: 70px;
    margin: 0 120px;
    .titulo{
        display: flex;
        align-items: center;
        h1{
            padding: 70px 0; 
            font-size: 50px;
            color: $color;
        }
    }

    .catalogo{
        display: flex;
        flex-direction: column;
        position: relative;

        .filtrar-ordenar{
            border-bottom: 1px #d8d8d8 solid;
            display: grid;
            width: 100%;
            grid-template-columns: 90px auto 125px;
            grid-template-rows: auto;
            padding: 5px;
            margin-bottom: 75px;

            .filtrar{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color;
                font-weight: bold;

                p img{
                    display: none;
                }

            }

            .categorias{
                display: flex;
                list-style: none;
                li{
                    transition: all .5s;
                    padding: 10px 20px;
                    margin: 0 5px;
                    a{
                        color: $color;
                        font-size: 16px;
                    }
                }
                .activo{
                    background-color: #f7f7f7;
                    border-radius: 20px;
                    transition: all .5s;
                }
            }

            .ordenar{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                
                button{
                    background: none;
                    border: none;
                    cursor: pointer;
                    color: $color;
                    font-size: 17px;
                    font-weight: bold;
                }

                .menu-ordenar{
                    width: 210px;
                    background-color: #fff;
                    position: absolute;
                    z-index: 900;
                    top: 36px;
                    right: 0;
                    box-shadow: 0 10px 20px 5px rgba(0,0,0,.2);
                    border-radius: 0 0 6px 6px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .2s;
                    
                    &.visible{
                        opacity: 1;
                        transition: all .2s;
                        visibility: visible;
                    }

                    .opciones-ordenar{
                        list-style: none;
                        .opcion{
                            border-bottom: 1px #ccc solid;
                            a{
                                font-size: 17px;
                                width: 100%;
                                padding: 10px 6px;
                                color: #191919;
                                display: block;
                            }

                        }

                        .activo{
                            background-color: rgba(209, 214, 214, 0.2);
                        }

                        .opcion:last-child{
                            border: none;
                        }
                    }

                }
            }
        }

        .autos{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto;
            grid-gap: 60px 0;
            margin-bottom: 75px;

            .auto{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .imagen{
                    width: 268px;
                    display: flex;
                }

                .link-modelo{
                    user-select: none;
                    .descripcion{
                        h3{
                            text-align: center;
                            font-size: 28px;
                            color: #000000;
                        }
    
                        p{
                            text-align: center;
                            color: #191919;
                        }
                    }
                }

            }

            .ver-modelo{
                width: 100%;
                height: 36px;
                position: absolute;
                z-index: 970;
                right: 0;
                visibility: hidden;
                .visible{
                    display: flex;
                }
    
                img{
                    position: absolute;
                }
    
            }
        }
    }
}

footer{
    background-color: #000000;
    margin-top: 60px;
    min-height: 50px;
    width: 100vw;
}