@media screen and (max-width: 1325px){
    .menu{
        // border: 1px red solid;
        grid-template-columns: 90px auto 90px;
        grid-template-rows: 60px;

        .boton-menu-desplegable{
            p{
                display: none;
            }
        }

    }

    .main{
        .catalogo{
            .filtrar-ordenar{
                grid-template-columns: 100px auto 140px;
                // border: 1px red solid;
                .filtrar{
                    // border: 1px red solid;
                }

                .categorias{
                    li{
                        padding: 5px 10px;
                    }
                }

                .ordenar{
                    // border: 1px red solid;
                }
            }
        }
    }

    

    .fondo-menu{
        // top: 60px;
        top: 0;
        overflow-y: auto;

        .menu-desplegable{
            margin-top: 60px;
            width: 100%;
            // overflow-y: auto;
            // .claro,.oscuro{
            //     .menu-opciones{
            //         // padding: 0;
            //         .opciones{
            //             // padding: 7px;
            //             a{
            //                 // font-size: 18px;
            //             }
            //         }
            //     }
            // }
        }
    }

    .main{
        grid-template-rows: 200px auto auto;
        top: 60px;
        margin: 0 91px;
        // border: 1px red solid;
        .catalogo{
            .autos{
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                grid-row-gap: 60px;
            }
        }
    }

}

@media screen and (max-width: 1125px){

    .main{
        grid-template-rows: 150px auto auto;
        .titulo{
            // border: 1px red solid;
            h1{
                font-size: 40px;
            }
        }

        .catalogo{
            .filtrar-ordenar{
                .filtrar{
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 980px){

    .menu{
        grid-template-columns: 60px 60px;
        justify-content: space-between;
        .opciones{
            display: none;
        }
    }

    .main{
        margin: 0 10px;
        .catalogo{

            .filtrar-ordenar{
                // border: 1px red solid;
                padding: 10px;
                position: relative;
                grid-template-columns: auto auto;
                justify-content: space-between;
                
                .filtrar{
                    // border: 1px red solid;
                    p{
                        display: flex;
                        img{
                            display: block;
                            margin-left: 5px;
                        }
                    }
                }

                .ordenar{
                    // display: flex;
                    .menu-ordenar{
                        top: 26px;
                        right: -10px;
                    }
                }

                .categorias{
                    // border: 1px red solid;
                    position: absolute;
                    background-color: #fff;
                    z-index: 970;
                    display: flex;
                    flex-direction: column;
                    top: 36px;
                    border-radius: 0 0 6px 6px;
                    box-shadow: 0 10px 20px 5px rgba(0,0,0,.2);
    
                    li{
                        border-bottom: 1px #ccc solid;
                        margin: 0;
                        padding: 0;
                        a{
                            width: 100%;
                            font-size: 17px;
                            padding: 10px 6px;
                            display: block;
                            // border: 1px red solid;
                        }
                    }

                    li:last-child{
                        border: none;
                    }

                    .activo{
                        // background-color: rgba(209, 214, 214, 0.2);
                        border-radius: 0;
                    }
    
                }

            }

            
    
        }
    }
}

@media screen and (max-width: 768px){
    // ESTA MEDIA QUERY ES PARA DISPOSITIVOS DE PANTALLA MEDIA
    // .menu{
    //     // grid-template-columns: 60px 60px;
    //     // justify-content: space-between;
    //     border: 1px red solid;

    //     .logo-empresa{
    //         border: 1px red solid;
    //     }

    //     .opciones{
    //         display: none;
    //     }

    //     .boton-menu-desplegable{
    //         border: 1px red solid;
    //     }
    // }

    .main{
        // margin: 0 10px;

        .catalogo{

            .autos{
                // grid-template-columns: auto auto;
                // grid-template-rows: auto auto;
            }
        }
    }
}

@media (max-width: 580px){
    .main{
        // margin: 0 10px;

        .catalogo{

            .autos{
                grid-template-columns: auto;
                grid-template-rows: auto auto auto auto;
            }
        }
    }
}