.caja-presentacion{
    // border: 1px red solid;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    position: relative;
    top: 70px;
    // border: 1px red solid;
    width: 100vw;
    color: #373737;

    .presentacion{
        // border: 1px red solid;
        position: relative;
        padding: 50px 0;
        margin: 0 150px;
        // margin-top: 40px;
        // top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .imagen{
            // border: 1px red solid;
            // max-width: 90%;
            justify-content: center;
            align-self: center;
            width: 100%;
            display: flex;
            // min-width: 10%;
            img{
                max-width: 100%;
            }
        }

        .detalles{
            // border: 1px red solid;
            align-self: stretch;
            // padding: 100px;
            padding: 10px;
            width: 100%;
            // margin-left: 50px;

            .nombre-auto{
                // border: 1px red solid;
                font-weight: 600;
            }

            .descripcion-auto{
                // border: 1px red solid;
                // width: 100%;
                .titulo{
                    font-size: 50px;
                    font-weight: 600;
                    // padding: 10px;
                }

                .descripcion{
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 1.69;
                    letter-spacing: -0.1px;
                    // color: #373737;
                }
            }

        }
    }
    
    .caracteristicas-auto{
        background-color: #f7f7f7;
        padding: 40px 0px;
        margin-bottom: 60px;
        // border: 1px red solid;

        .lista-caracteristicas{
            list-style: none;
            position: relative;
            // border: 1px red solid;
            // display: flex;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto;
            justify-content: space-between;

            .pasar-izquierda,.pasar-derecha{
                // border: 1px red solid;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.56);
                z-index: 980;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                bottom: 52%;
                button{
                    border: none;
                    background: none;
                    cursor: pointer;
                    img{
                        width: 100%;
                    }
                }
            }

            .pasar-derecha{
                right: 0;
            }

            .item:first-child, .item:last-child{
                width: 128px;
                // border: 1px red solid;
                img{
                    position: relative;
                    top: -8px;
                }
            }

            .item{
                // display: flex;
                // flex-direction: column;
                // border: 1px red solid;
                // width: 270px;

                .item-caja{
                    max-width: 270px;

                    b{
                        display: block;
                        font-size: 23px;
                        letter-spacing: -0.4px;
                        line-height: 1.35;
                    }

                    p{
                        line-height: 1.69;
                        letter-spacing: -0.1px;
                        text-align: justify;
                        font-size: 18px;
                    }

                    img{
                        width: 100%;
                        // border: 1px red solid;
                    }

                }

                
            }
        }
    }
    
    .especialidades-auto{
        // border: 1px red solid;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 120px;
        position: relative;

        .texto{
            // border: 1px red solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            // margin: 0 200px;
            // padding: 100px;
            
            div{
                // border: 1px red solid;
                padding: 15px;
                margin: 0 190px;
                h2{
                    letter-spacing: -0.4px;
                    line-height: 1.35;
                    font-size: 30px;
                }
    
                p{
                    // border: 1px red solid;
                    letter-spacing: -0.1px;
                    line-height: 1.69;
                    font-size: 19px;
                    text-align: justify;
                }
            }
        }
        
        .imagen{
            // border: 1px red solid;
            display: flex;
            justify-content: center;
            margin: 20px 0;
            width: 100%;
            img{
                // width: 100%;
                padding: 20px;
            }

        }

    }

}

